.courseBox {
  width: 300px;
  height: 270px;
  position: relative;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  transition: all 0.1s ease;
}

.courseBox:hover {
  transform: scale(1.02);
}

.courseList {
  width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-column-gap: 5px; */
  grid-row-gap: 20px;
}

@media (max-width: 1400px) {
  .courseList {
    width: 900px;
  }

  .courseBox {
    width: 280px;
  }

  .inputField {
    width: 900px;
  }
}

.topContent {




  /* Keep the background transparent to let the background image show through */
  background-color: transparent;
  
  /* Set width to auto to fit the content */
  width: auto;
  
  /* Adjust height as needed */
  height: auto;
  
  /* Add padding to provide space between content and borders */
  padding: 20px;
  
  /* Maintain border radius */

  background: rgb(238, 174, 202);
  background-image: radial-gradient(circle, #ac90ff, #c4abcd);
/* filter: blur(2px); */

  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  
  /* Use a semi-transparent background color to ensure text readability */
 
  
  /* Set text color to white for better visibility */
  color: #fff;
  
  /* Align text and content in the center */
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #d9d9d9;
  border-bottom: none;
  z-index: 1;


  overflow: hidden;

}


.topContent h3 {
  font-size: 25px;
  font-weight: 400;
  max-width: 250px;
}

.fav {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}

.bottomContent {
  width: 100%;
  height: 140px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  padding: 10px 20px;
  border: 1px solid #dfdfdf;
}
.courseName {
  color: #121212;
  font-weight: 400;
  font-size: 18px;
}
.courseDesc {
  padding: 5px 0;
  color: #828282;
  font-size: 16px;
  line-height: 0.9;
  max-width: 290px;
}

.courseDetails p {
  position: absolute;
  bottom: 20px;
  color: #121212;
  font-size: 14px;
}

.inputField {
  width: 950px;
  margin: 0 auto;
  padding: 10px 0 25px 0;
}

.inputField input {
  padding: 10px 20px;
  width: 400px;
  border-radius: 7px;

  border: 1px solid #dfdfdf;
  outline: none;
}
