
  
  .form-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;    
  }
  
  .form-group label {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 5%;
    font-weight:600;
    color: rgb(74, 74,74);
    margin-bottom: 15%;
  }
  
  .form-group input {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 9px;
    font-size: 16px;
    cursor:text;
  }

  .form-group input:focus {
    outline: none;
    border-color: rgba(98, 84, 177, 0.219); /* Highlight border color on focus */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submit-button {
    margin-top: 25%;

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 9px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  .close-button {
    margin-top: 8%;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 9px;

    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: rgba(98, 84, 177, 0.219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .submit-button:hover {
    background-color: rgba(98, 84, 177, 0.219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

 