.center_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center_content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #0e0e0f;
  font-size: 70px;
  max-width: 900px;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #0e0e0f;
  padding-bottom: 40px;
}

.center_content img {
  height: 400px;
}
