.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f4ff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto; /* Center the container */
  }
  
  .container h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #4a4a4a;
  }
  
  .container p {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .container label {
    font-size: 20px;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 10px;
  }
  
  .container input {
    border: 2px solid #ccc; /* Slightly thicker border */
    border-radius: 8px; /* Rounder corners */
    padding: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #4a4a4a;
    width: 100%;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    cursor:text;
  }
  
  .container input:focus {
    outline: none;
    border-color: #ac90ff; /* Highlight border color on focus */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container button {
    background-color: #ac90ff;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .container button:hover {
    background-color: #9a7fff;
  }
  