@import url('https://fonts.googleapis.com/css?family=Poppins:700|Merriweather:400');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Merriweather', sans-serif;
}

header {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
}

.left-side-menu {
  display: flex;
}

.logo {
  display: flex;
  cursor: pointer;
}

.logo-title {
  color: #1a1a1a;
  font-size: 20px;
}

.logo img {
  height: 60px;
  margin-top: -18px;
  padding: 0;
}

.add-course-wrapper,
.add-chapter-wrapper {
  width: calc(50% - 20px); /* Разделение на две части */
  margin: 50px 10px;
  float: left;
}

.add-course-wrapper h1,
.add-chapter-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #c7b8ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a99bd1;
}


.add-chapter-wrapper {
  margin-top: 55px;
  width: calc(50% - 30px); 
  margin: px 10px;
  float: auto; 
  max-width: 550px
  
}
.courseBox {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.topContent {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topContent h3 {
  margin: 0;
}

.fav {
  cursor: pointer;
}

.bottomContent {
  padding: 10px;
}

.courseName {
  font-weight: bold;
  margin-bottom: 5px;
}

.courseDesc {
  margin-bottom: 10px;
}

.courseDetails {
  font-size: 12px;
  color: #777;
}