/* CSS стили здесь */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
.search{

    

width: 10%;
height: 200%;
padding: 10px 20px;
border-radius: 10px;
display: inline-block;
cursor: text;
text-align:left;
margin: 4px 2px;
margin-left: 580px;
margin-top:-12px;

}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.courses{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 300px 300px 290px;
    grid-template-rows: auto;
    align-items:center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #495d64;
    border-radius: 50px;
    margin-top: 20px;
}
.add_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1900px;
}

.button:hover {
    background-color: #45a049;
}

.courseBox {
    width: 250px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    position: relative;
}

.topContent {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topContent h3 {
    margin: 0;
}

.fav {
    cursor: pointer;
}

.bottomContent {
    padding: 10px;
}

.courseName {
    font-weight: bold;
    margin-bottom: 5px;
}

.courseDesc {
    margin-bottom: 10px;
}

.courseDetails {
    font-size: 12px;
    color: #777;
}

.editButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    border-radius: 20px;
    cursor: pointer;
}

.testButton {
   
    margin-right: 200px;
}

.courseBox:hover .editButton {
    display: block;
}
