body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-top: 20px;
}

.file-label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    background-color: #ffffff;
    color: #1d1d1d;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease;
}

.file-label:hover {
    border-color: #151515;
}

.file-label:active {
    background-color: #f0f0f0;
}

.file-label > i {
    padding-right: 5px;
}

.file-label.success {
    color: #2c5282;
    border-color: #2c5282;
}

.file-label.success:hover {
    border-color: #2c5282;
    background-color: #dbeafe;
}

.file-label.success:active {
    background-color: #aedcff;
}

.file-input {
    display: none;
}

.upload-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    
}

.upload-button:hover {
    background-color: #45a049;
}

.quiz-time-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
