<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление курса</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <header>
        <div class="left-side-menu">
            <div class="logo">
                <a href="http://localhost:5173/"><img src="https://iimg.su/s/11/AltVHu4JfYDeHkhn0KM1Ltzt8qQZlTNFQKEiBcvl.png"></a>
                <h1 class="logo-title">Онлайн учебник</h1>
            </div>
        </div>
    </header>
    <div class="add-course-wrapper">
        <h1>Добавление курса</h1>
        <form action="/add_course" method="post">
            <label for="title">Название курса:</label>
            <input type="text" id="title" maxlength="15" name="title" required >

            <label for="author">Автор:</label>
            <input type="text" id="author" name="author" required><br>

            <label for="date">Дата:</label>
            <input type="date" id="date" name="date" required><br>

            <label for="video_src">Ссылка на видео:</label>
            <input type="text" id="video_src" name="video_src" required><br>
           
            <label for="course_name">Краткое описание:</label>
            <input type="text" id="course_name" maxlength="20" name="course_name" required><br>

            <label for="course_slogan">Слоган:</label>
            <input type="text" id="course_slogan" maxlength="60" name="course_slogan"  required><br>

            <div id="chapters">
                <!-- JavaScript будет динамически добавлять главы сюда -->
            </div>
            <button type="button" onclick="addChapter()">Добавить главу</button><br>
            <button type="button" onclick="removeLastChapter()">Удалить последнюю главу</button><br>


            <div id="course_descriptions">
                <!-- Дополнительные описания курса будут добавлены здесь -->
            </div>
            <button type="button" onclick="addCourseDescription()">Добавить описание курса</button><br>
            <button type="button" onclick="removeLastDescription()">Удалить последнее описание курса</button><br>


            <button type="submit">Добавить курс</button>
        </form>
    </div>

    <script>
        function addChapter() {
            var chaptersDiv = document.getElementById('chapters');
            var nextChapterNum = chaptersDiv.children.length + 1;

            var chapterDiv = document.createElement('div');
            chapterDiv.innerHTML = `
                <label for="chapter_title_${nextChapterNum}">Заголовок главы ${nextChapterNum}:</label>
                <input type="text" id="chapter_title_${nextChapterNum}" name="chapter_title_${nextChapterNum}" required><br>

                <label for="chapter_content_${nextChapterNum}">Содержание главы ${nextChapterNum}:</label>
                <textarea id="chapter_content_${nextChapterNum}" name="chapter_content_${nextChapterNum}" required></textarea><br>

                <div id="text_blocks_${nextChapterNum}"></div>
                <button type="button" onclick="addCodeBlock(${nextChapterNum})">Добавить код</button>
                <button type="button" onclick="addImageBlock(${nextChapterNum})">Добавить изображение</button>
                <button type="button" onclick="addTextBlock(${nextChapterNum})">Добавить текст</button>
                <button type="button" onclick="addVideoBlock(${nextChapterNum})">Добавить Видео</button><br>

            `;
            chaptersDiv.appendChild(chapterDiv);
            
        }

        function removeLastChapter() {
            var chaptersDiv = document.getElementById('chapters');
            var lastChapter = chaptersDiv.lastElementChild;
            if (lastChapter) {
                chaptersDiv.removeChild(lastChapter);
            }
        }
        function removeLastDescription() {
            var descriptionsDiv = document.getElementById('course_descriptions');
            var lastDescription = descriptionsDiv.lastElementChild;
            if (lastDescription) {
                descriptionsDiv.removeChild(lastDescription.previousSibling); // Удаление элемента br
                descriptionsDiv.removeChild(lastDescription);
            }
        }

        function addTextBlock(chapterId) {
            var textBlocksDiv = document.getElementById(`text_blocks_${chapterId}`);
            var nextTextBlockNum = textBlocksDiv.children.length + 1;

            var textBlockDiv = document.createElement('div');
            textBlockDiv.innerHTML = `
                <label for="chapter_text_${chapterId}_${nextTextBlockNum}">Текст:</label>
                <textarea id="chapter_text_${chapterId}_${nextTextBlockNum}" name="chapter_text_${chapterId}_${nextTextBlockNum}" required onmouseover="addRemoveButton('chapter_text_${chapterId}_${nextTextBlockNum}')" onmouseout="removeRemoveButton('chapter_text_${chapterId}_${nextTextBlockNum}')"></textarea><br>
                
            `;
            textBlocksDiv.appendChild(textBlockDiv);
        }

        function addVideoBlock(chapterId) {
            var textBlocksDiv = document.getElementById(`text_blocks_${chapterId}`);
            var nextTextBlockNum = textBlocksDiv.children.length + 1;
        
            var videoBlockDiv = document.createElement('div');
            videoBlockDiv.innerHTML = `
                <label for="chapter_video_${chapterId}_${nextTextBlockNum}">Видео:</label>
                <textarea id="chapter_video_${chapterId}_${nextTextBlockNum}" name="chapter_video_${chapterId}_${nextTextBlockNum}" required onmouseover="addRemoveButton('chapter_video_${chapterId}_${nextTextBlockNum}')" onmouseout="removeRemoveButton('chapter_video_${chapterId}_${nextTextBlockNum}')" onchange="convertToEmbedLink(this)"></textarea><br>
                
            `;
            textBlocksDiv.appendChild(videoBlockDiv);
        }
        
        function convertToEmbedLink(textarea) {
            var link = textarea.value;
            if (link.includes("youtube.com/watch")) {
                var videoId = link.split('v=')[1];
                var ampersandPosition = videoId.indexOf('&');
                if (ampersandPosition !== -1) {
                    videoId = videoId.substring(0, ampersandPosition);
                }
                textarea.value = `https://www.youtube.com/embed/${videoId}`;
            }
        }
        

        function addCodeBlock(chapterId) {
            var textBlocksDiv = document.getElementById(`text_blocks_${chapterId}`);
            var nextTextBlockNum = textBlocksDiv.children.length + 1;

            var codeBlockDiv = document.createElement('div');
            codeBlockDiv.innerHTML = `
                <label for="chapter_code_${chapterId}_${nextTextBlockNum}">Код:</label>
                <textarea id="chapter_code_${chapterId}_${nextTextBlockNum}" name="chapter_code_${chapterId}_${nextTextBlockNum}" required onmouseover="addRemoveButton('chapter_code_${chapterId}_${nextTextBlockNum}')" onmouseout="removeRemoveButton('chapter_code_${chapterId}_${nextTextBlockNum}')"></textarea><br>
                
            `;
            textBlocksDiv.appendChild(codeBlockDiv);
        }

        function addImageBlock(chapterId) {
            var textBlocksDiv = document.getElementById(`text_blocks_${chapterId}`);
            var nextTextBlockNum = textBlocksDiv.children.length + 1;

            var imageBlockDiv = document.createElement('div');
            imageBlockDiv.innerHTML = `
                <label for="chapter_image_${chapterId}_${nextTextBlockNum}">Изображение:</label>
                <input type="text" id="chapter_image_${chapterId}_${nextTextBlockNum}" name="chapter_image_${chapterId}_${nextTextBlockNum}" required onmouseover="addRemoveButton('chapter_image_${chapterId}_${nextTextBlockNum}')" onmouseout="removeRemoveButton('chapter_image_${chapterId}_${nextTextBlockNum}')"><br>
                
            `;
            textBlocksDiv.appendChild(imageBlockDiv);
        }
       

        function addCourseDescription() {
            var descriptionsDiv = document.getElementById('course_descriptions');
            var nextDescriptionNum = descriptionsDiv.children.length + 1;

            var descriptionLabel = document.createElement('label');
            descriptionLabel.setAttribute('for', `course_description_${nextDescriptionNum}`);
            descriptionLabel.textContent = `Описание курса ${nextDescriptionNum}:`;
            descriptionsDiv.appendChild(descriptionLabel);

            var descriptionTextarea = document.createElement('textarea');
            descriptionTextarea.id = `course_description_${nextDescriptionNum}`;
            descriptionTextarea.name = `course_description_${nextDescriptionNum}`;
            descriptionTextarea.rows = 4;
            descriptionTextarea.cols = 50;
            descriptionTextarea.required = true;
            descriptionsDiv.appendChild(descriptionTextarea);

            descriptionsDiv.appendChild(document.createElement('br'));
        }
        function addRemoveButton(inputFieldId, fieldType) {
            var inputField = document.getElementById(inputFieldId);
            var removeButton = inputField.previousElementSibling;
            if (!removeButton || removeButton.className !== 'remove-button') {
                inputField.insertAdjacentHTML('beforebegin', '<button type="button" class="remove-button" onclick="removeInputField(\'' + inputFieldId + '\', \'' + fieldType + '\')">X</button>');
            }
        }

        // Функция удаления поля ввода
        function removeInputField(inputFieldId, fieldType) {
            var inputField = document.getElementById(inputFieldId);
            var removeButton = inputField.previousElementSibling;
            removeButton.remove(); // Удаление кнопки удаления
            inputField.remove();

            // Удаление названия типа данных (код, видео, изображение, текст)
            var fieldTypeLabel = document.querySelector('label[for="' + inputFieldId + '"]');
            if (fieldTypeLabel) {
                fieldTypeLabel.remove();
            }
        }
    
    </script>
</body>
</html>
