<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}" type="text/css">

</head>
<body>
    <header class="header">
        <h1>Dashboard</h1>
        <div>
            <button class="button">Войти</button>
        </div>
    </header>
    <button class="add_button"  onclick="window.location.href='http://127.0.0.1:5000/';">Добавить курс</button>
    <input type="text" placeholder="Поиск по названию курса" class="search">

    <div id="root" class="courses">
        
        <!-- Контент будет добавлен с помощью JavaScript -->
    </div>
    <script>
        // JavaScript для имитации React
        fetch('/courses')
    .then(response => response.json())
    .then(courses => {
        const root = document.getElementById('root');
        courses.forEach(course => {
            const courseBox = document.createElement('div');
            courseBox.classList.add('courseBox');

            const topContent = document.createElement('div');
            topContent.classList.add('topContent');
            topContent.style.backgroundColor = `rgb(88, 1, 145)`;;

            const fav = document.createElement('div');
            fav.classList.add('fav');

            const h3 = document.createElement('h3');
            h3.innerText = course.title;

            topContent.appendChild(h3);
            topContent.appendChild(fav);

            const bottomContent = document.createElement('div');
            bottomContent.classList.add('bottomContent');

            const courseName = document.createElement('p');
            courseName.classList.add('courseName');
            courseName.innerText = course.course_name;

            const courseDesc = document.createElement('p');
            courseDesc.classList.add('courseDesc');
            courseDesc.innerText = course.course_slogan;

            const courseDetails = document.createElement('div');
            courseDetails.classList.add('courseDetails');
            courseDetails.innerText = `${course.author} / ${course.date}`;

            bottomContent.appendChild(courseName);
            bottomContent.appendChild(courseDesc);
            bottomContent.appendChild(courseDetails);

            const editButton = document.createElement('button');
            editButton.classList.add('editButton'); 
            editButton.innerText = 'Изменить курс';
            editButton.setAttribute('data-id', course.course_id);
            editButton.addEventListener('click', function() {
                const courseId = this.getAttribute('data-id');
                const editUrl = `http://127.0.0.1:5002/edit_course/${courseId}`;
                window.location.href = editUrl;
            });

            courseBox.appendChild(topContent);
            courseBox.appendChild(bottomContent);
            courseBox.appendChild(editButton);

            root.appendChild(courseBox);
        });
    });

        function randomColor() {
            return Math.floor(Math.random() * 256);
        }
        // Получаем ссылки на элементы поиска и корневой элемент, содержащий курсы
const searchInput = document.querySelector('.search');
const root = document.getElementById('root');

// Добавляем обработчик события на поле ввода поиска
searchInput.addEventListener('input', function() {
    // Получаем значение введенное пользователем и приводим его к нижнему регистру
    const searchText = this.value.trim().toLowerCase();

    // Получаем все элементы курсов
    const courseBoxes = root.querySelectorAll('.courseBox');

    // Перебираем каждый элемент курса и скрываем те, которые не соответствуют поисковому запросу
    courseBoxes.forEach(courseBox => {
        const courseTitle = courseBox.querySelector('h3').innerText.toLowerCase();
        if (courseTitle.includes(searchText)) {
            courseBox.style.display = 'block';
        } else {
            courseBox.style.display = 'none';
        }
    });
});

    </script>
    <footer>

    </footer>
</body>
</html>
