<!DOCTYPE html>
{% set enumerate = namespace(__builtins__=loop, map=lambda args: loop.index0) %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение курса</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

</head>
<body>
    <header>
        <div class="left-side-menu">
            <div class="logo">
                <a href="http://localhost:5173/"><img src="https://iimg.su/s/11/AltVHu4JfYDeHkhn0KM1Ltzt8qQZlTNFQKEiBcvl.png"></a>
                <h1 class="logo-title">Онлайн учебник</h1>
            </div>
        </div>
    </header>
    <div class="edit-course-wrapper">
        <h1>Изменение курса</h1>
        <form action="/update_course/{{ course['courseId'] }}" method="post">
            <label for="title">Название курса:</label>
            <input type="text" id="title" name="title" value="{{ course['title'] }}" required >

            <label for="author">Автор:</label>
            <input type="text" id="author" name="author" value="{{ course['author'] }}" required><br>

            <label for="date">Дата:</label>
            <input type="date" id="date" name="date" value="{{ course['date'] }}" required><br>

            <label for="video_src">Ссылка на видео:</label>
            <input type="text" id="video_src" name="video_src" value="{{ course['video_src'] }}" required><br>

            <label for="course_name">Краткое описание:</label>
            <input type="text" id="course_name" name="course_name" value="{{ course['course_name'] }}" required><br>

            <label for="course_slogan">Слоган:</label>
            <input type="text" id="course_slogan" name="course_slogan" value="{{ course['course_slogan'] }}" required><br>
            {% set counter = 0 %}

            {% for description in course['course_descriptions'] %}
            {% set counter = counter + 1 %}
            <label for="course_description_{{ counter }}">Описание курса {{ counter }}:</label>
            <input type="text" id="course_description_{{ counter }}" name="course_description_{{ counter }}" value="{{ description }}" required><br>
            {% endfor %}

            <!-- Поля для изменения данных глав -->
            {% set counter = 0 %}
            {% for chapter in course['chapters'] %}
            {% set counter = counter + 1 %}
            <hr>
            <h2>Глава {{ counter }}</h2>
            <label for="chapter_title_{{ counter }}">Заголовок главы:</label>
            <input type="text" id="chapter_title_{{ counter }}" name="chapter_title_{{ counter }}" value="{{ chapter['title'] }}" required><br>
            <label for="chapter_content_{{ counter }}">Содержание главы:</label>
            <textarea id="chapter_content_{{ counter }}" name="chapter_content_{{ counter }}" required>{{ chapter['content'] }}</textarea><br>

            <!-- Блоки текста, видео, кода и изображений для каждой главы -->
            {% set block_counter = 0 %}
            {% for block in chapter['blocks'] %}
            {% set block_counter = block_counter + 1 %}
            {% if block['type'] == 'text' %}
            <label for="chapter_text_{{ counter }}_{{ block_counter }}">Текст:</label>
            <textarea id="chapter_text_{{ counter }}_{{ block_counter }}" name="chapter_text_{{ counter }}_{{ block_counter }}" required>{{ block['data'] }}</textarea><br>
            {% elif block['type'] == 'video' %}
            <label for="chapter_video_{{ counter }}_{{ block_counter }}">Видео:</label>
            <input type="text" id="chapter_video_{{ counter }}_{{ block_counter }}" name="chapter_video_{{ counter }}_{{ block_counter }}" value="{{ block['data'] }}" required><br>
            {% elif block['type'] == 'code' %}
            <label for="chapter_code_{{ counter }}_{{ block_counter }}">Код:</label>
            <textarea id="chapter_code_{{ counter }}_{{ block_counter }}" name="chapter_code_{{ counter }}_{{ block_counter }}" required>{{ block['data'] }}</textarea><br>
            {% elif block['type'] == 'image' %}
            <label for="chapter_image_{{ counter }}_{{ block_counter }}">Изображение:</label>
            <input type="text" id="chapter_image_{{ counter }}_{{ block_counter }}" name="chapter_image_{{ counter }}_{{ block_counter }}" value="{{ block['data'] }}" required><br>
            {% endif %}
            {% endfor %}
            {% endfor %}


            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
</body>
</html>
