<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение курса</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}" type="text/css">
</head>
<body>
    <header>
        <div class="left-side-menu">
            <div class="logo">
                <h1 class="logo-title">Course</h1>
            </div>
        </div>
    </header>
    <div class="edit-course-wrapper">
        <h1>Изменение курса</h1>
        <form action="/update_course/{{ course['courseId'] }}" method="post">
            <label for="title">Название курса:</label>
            <input type="text" id="title" name="title" value="{{ course['title'] }}" required >

            <label for="author">Автор:</label>
            <input type="text" id="author" name="author" value="{{ course['author'] }}" required><br>

            <label for="date">Дата:</label>
            <input type="date" id="date" name="date" value="{{ course['date'] }}" required><br>

            <label for="video_src">Ссылка на видео:</label>
            <input type="text" id="video_src" name="video_src" value="{{ course['video_src'] }}" required><br>

            <label for="course_name">Краткое описание:</label>
            <input type="text" id="course_name" name="course_name" value="{{ course['course_name'] }}" required><br>

            <label for="course_slogan">Слоган:</label>
            <input type="text" id="course_slogan" name="course_slogan" value="{{ course['course_slogan'] }}" required><br>

            {% set counter = 1 %}
            {% for description in course['course_descriptions'] %}
            <label for="course_description_{{ counter }}">Описание курса {{ counter }}:</label>
            <input type="text" id="course_description_{{ counter }}" name="course_description_{{ counter }}" value="{{ description }}" required><br>
            {% set counter = counter + 1 %}
            {% endfor %}

            <!-- Поля для изменения данных глав -->
            {% set counter = 1 %}
            {% for chapter in course['chapters'] %}
            <hr>
            <h2>Глава {{ counter }}</h2>
            <label for="chapter_title_{{ counter }}">Заголовок главы:</label>
            <input type="text" id="chapter_title_{{ counter }}" name="chapter_title_{{ counter }}" value="{{ chapter['title'] }}" required><br>
            <label for="chapter_content_{{ counter }}">Содержание главы:</label>
            <textarea id="chapter_content_{{ counter }}" name="chapter_content_{{ counter }}" required>{{ chapter['content'] }}</textarea><br>
            
            {% for code in chapter['code'] %}
            <label for="chapter_code_{{ counter }}_{{ loop.index }}">Введите Код {{ loop.index }}</label>
            <textarea id="chapter_code_{{ counter }}_{{ loop.index }}" name="chapter_code_{{ counter }}_{{ loop.index }}">{{ code }}</textarea><br>
            {% endfor %}
            
            {% for image in chapter['image'] %}
            <label for="chapter_image_{{ counter }}_{{ loop.index }}">Введите Изображение {{ loop.index }}</label>
            <textarea id="chapter_image_{{ counter }}_{{ loop.index }}" name="chapter_image_{{ counter }}_{{ loop.index }}">{{ image }}</textarea><br>
            {% endfor %}
            
            {% for text in chapter['text'] %}
            <label for="chapter_text_{{ counter }}_{{ loop.index }}">Введите Текст {{ loop.index }}</label>
            <textarea id="chapter_text_{{ counter }}_{{ loop.index }}" name="chapter_text_{{ counter }}_{{ loop.index }}">{{ text }}</textarea><br>
            {% endfor %}
            
            {% for video in chapter['video'] %}
            <label for="chapter_video_{{ counter }}_{{ loop.index }}">Введите Видео-ссылку {{ loop.index }}</label>
            <textarea id="chapter_video_{{ counter }}_{{ loop.index }}" name="chapter_video_{{ counter }}_{{ loop.index }}">{{ video }}</textarea><br>
            {% endfor %}
            
            {% set counter = counter + 1 %}
            {% endfor %}
        
            <button type="submit">Сохранить изменения</button>

    </div>
    
</body>
</html>
